APP_DEBUG=true
APP_ENV=dev

DB_DSN=mysql:host=localhost;dbname=example_db
DB_USERNAME=root
DB_PASSWORD=password

COOKIE_VALIDATION_KEY=your_random_secret_key_here

#r2
R2_ACCOUNT_ID=your_r2_account_id_here
R2_ACCESS_KEY_ID=your_r2_access_key_id_here
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
R2_BUCKET=your_r2_bucket_name_here
R2_PUBLIC_URL=https://your_r2_public_url_here
